:root {
    --color-scheme: dark;
    --background: #212121;
    --on-background: white;
    --on-background-inactive: #d9d9d9;
    --background-hover: #4e4d4d;
    --background-selected: #424242;
    --background-secondary: #1b1b1b;
    --background-secondary-hover: #d4d4d8;
    --component-background-rgb: 39, 39, 39;
    --component-background: rgb(var(--component-background-rgb));
    --sidebar-icon-color: #bdbdbd;
    --primary: #1d4ed8;
    --on-primary: #fafafa;
    --primary-hover: #1e3a8a;
    --button-background: #d4d4d4;
    --on-button-background: #0a0a0a;
    --button-background-hover: #bbbbbb;
    --button-background-selected: #a8a8a8;
    --button-background-disabled: #656565;
    --border-width: 1px;
    --border-color: #2e2e2e;
    --border: var(--border-width) solid var(--border-color);
    --text-gray: #858585;
    --spacing: 0.8rem;
    --vertical-padding: 0.55rem;
    --horizontal-padding: 0.7rem;
    --radius: 0.375rem;
    --none: oklch(37.1% 0 none);
    --on-none: var(--on-background);
    --low: oklch(37.9% 0.146 265.522);
    --on-low: oklch(93.2% 0.032 255.585);
    --normal: oklch(37.8% 0.077 168.94);
    --on-normal: oklch(95% 0.052 163.051);
    --high: oklch(41.4% 0.112 45.904);
    --on-high: oklch(96.2% 0.059 95.617);
    --severe: oklch(39.6% 0.141 25.723);
    --on-severe: oklch(93.6% 0.032 17.717);
    --green: #22c55e;
    --blue: #3b82f6;
    --red: #f43f5e;
    --red-hover: #be123c;
    --deadline-passed: oklch(63.7% 0.237 25.331);
    --deadline-soon: oklch(66.6% 0.179 58.318);
}
